<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/css/main.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand text-white" href="#">WEB322 - Aditi Sharma</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link text-white" href="/shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/items">Items</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/categories">Categories</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About</h2>
                <p>Hello, This is Aditi Sharma. I'm a Computer Programming Analysis student at Seneca Polytechnic</p>
                <h5>Objective (Assignment 2)</h5>
                <p> Create and publish an eCommerce web app that uses multiple routes, serves static files (HTML & CSS) and a "store service" module for accessing data.</p>
            </div>
            <div class="col-md-6">
                <h2>Coming Soon</h2>
                <p>Stay tuned for future updates…</p>
            </div>
        </div>
    </div>
    <script src="../store-service.js"></script>
</body>
</html>
