<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>Hello, This is Aditi Sharma. I'm a Computer Programming Analysis student at Seneca Polytechnic</p>
        <h5>Objective (Assignment 2)</h5>
        <p>Create and publish an eCommerce web app that uses multiple routes, serves static files (HTML & CSS), and a "store service" module for accessing data.</p>
    </div>
    <div class="col-md-6">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates…</p>
    </div>
</div>
