<div class="row">
    <div class="col-md-12">
        <h2>Add Category</h2>
        <br />
        <form action="/categories/add" method="POST">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input class="form-control" type="text" name="category" id="category" autofocus>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-end" value="Add Category">
            <br /><br /><br />
        </form>
    </div>
</div>