<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />

        <% if (categories && categories.length > 0) { %>
            <ul>
                <% categories.forEach(category => { %>
                    <li>
                        <a href="/items?category=<%= category.category %>">
                            <%= category.category %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No categories available.</p>
        <% } %>

        <% if (message) { %>
            <div class="col-md-12 text-center">
                <strong><%= message %></strong>
            </div>
        <% } %>
    </div>
</div>
