<div class="row">
    <div class="col-md-12">
        <h2>Log In</h2>
        <hr />

        <% if(locals.errorMessage) { %>
            <div class="alert alert-danger">
                <strong>Error:</strong>
                <%= errorMessage %>
            </div>
            <% } %>

                <form method="post" action="/login">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="userName" type="text" placeholder="User Name" required
                                    value="<%= locals.userName ? userName : '' %>" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="password" type="password" placeholder="Password"
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Login" />
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>                        