<div class="row">
    <div class="col-md-12">
        <h2>Register</h2>
        <hr />

        <% if(locals.errorMessage) { %>
            <div class="alert alert-danger">
                <strong>Error:</strong>
                <%= errorMessage %>
            </div>
            <% } %>

                <% if(locals.successMessage) { %>
                    <div class="alert alert-success">
                        <strong>Success:</strong>
                        <%= successMessage %>
                    </div>
                    <a class="btn btn-success pull-right" href="/login">Proceed to Log in</a>
                    <br /><br /><br />
                    <% } else { %>
                        <form method="post" action="/register">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="userName" type="text" placeholder="User Name"
                                            required value="<%= locals.userName ? userName : '' %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="password" type="password"
                                            placeholder="Password" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="password2" type="password"
                                            placeholder="Confirm Password" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" type="email"
                                            placeholder="Email Address" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary pull-right" value="Register" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <% } %>
    </div>
</div>